<h1><%= @name %>'s status is:</h1>
<ul>
  <li>Age: <%= @pet_age %></li>
  <li>Size: <%= @pet_size %></li>
  <li>Happiness: <%= @pet_happiness %></li>
  <li>Health: <%= @pet_health %></li>
  <li>Hunger: <%= @pet_hunger %></li>
</ul>

<a href="/updated_status">Update!</a>
